<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../Style/header_and_footer.css">
</head>
<body>
    <!-- Bootstrap Navbar -->
    <%- include('./header.ejs') %>

    <!-- Contact Content -->
    <div class="font_white container">
        <h1>Contact Us</h1>
        <p>This is the contact page of our website.</p>
        <p>You can add a contact form or other contact information here.</p>
    </div>

    <!-- Include Footer -->
    <%- include('./footer') %>
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
