<!DOCTYPE html>
<html>
<head>
    <title>LogIn Fail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color:rgb(236, 0, 28) ;
        }
        h1 {
            text-align: center;
            color: rgb(238, 238, 238);
        }
    </style>
</head>
<body>
    <h1>Fail to the Login</h1>
    <form action="/" method="get"><button>Click To Back</button> </form>
</body>
</html>