<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Bootstrap Buttons</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-block">Button 1</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary btn-block">Button 2</button>
      </div>
      <div class="col">
        <button class="btn btn-success btn-block">Button 3</button>
      </div>
      <div class="col">
        <button class="btn btn-danger btn-block">Button 4</button>
      </div>
      <div class="col">
        <button class="btn btn-warning btn-block">Button 5</button>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
